/* Global */

body{

	background: url("../img/bg.png");
}

/* Layout */

.container{

	background: gray;
	margin:0 auto;
	width:100%;
}

/*Adaptive Content*/

iframe, img{

	max-width:100%;
	width:100%;
}

article section{

	float:left;
	padding:2%;
	width: 46%;
}



/* desktop */

@media (min-width: 960px){
	#home {

		width:300px;
	}
	#youtube-big{
		width: 100%;
		display: none;
		height:600px;
		margin:auto;

	}

h3{

	margin: 2.5%;
}


}
/*tablet*/
@media (min-width: 768px){
	
	#youtube-big{
		width: 100%;
		height:500px;
		display: block;

	}
	#youtube-med{

		display:none;
	}
	
	#home{

		width: 200px;
		height: 125px;
	}
	.nav{

		position:absolute;
		top:50px;
		right:15px;
	}

}

/*mobile*/
@media (min-width: 320px){

.nav{

	display: inline;
	list-style: none;
	text-align:center;

	


}

ul .nav{

	margin:auto;
	padding:auto;

}
.nav li{

	display: inline;
	margin:auto;
	padding:;
}

.nav a{

	display: inline-block;
	color:white;
	text-decoration: none;
	padding:5px;
	padding-bottom:20px;
	font-size: 20px;
	text-transform: uppercase;
}

}
 .nav a:visted{

 	color:white;
 	text-decoration: none;
 }


section{

	font-size: .75em;
}

.discrip{

	clear:both;
	width: 95%;
	padding:2.5%;
}


footer{

	clear:both;
}








